notebook,
notebook tab:checked {
    background: @base_color;
    color: @text_color;
}

notebook tab,
notebook header {
    background: @bg_color;
    color: mix(@fg_color, @bg_color, 0.4);
}

notebook.frame > stack {
    border: 1px solid @border_color;
}

notebook tab {
    padding: 3px 5px;
    border-width: 1px;
}
notebook .top tab + tab,
notebook .bottom tab + tab {
    margin-left: -1px;
}
notebook .left tab + tab,
notebook .right tab + tab {
    margin-top: -1px;
}

notebook .top tab {
    margin-top: 3px;
    margin-bottom: -1px;
}
notebook .top tab:checked {
    margin-top: 0;
    border-top: 3px solid @selected_bg_color;
    border-bottom: 0;
}

notebook .bottom tab {
    margin-bottom: 3px;
    margin-top: -1px;
}
notebook .bottom tab:checked {
    margin-bottom: 0;
    border-bottom: 3px solid @selected_bg_color;
    border-top: 0;
}

notebook .left tab {
    margin-left: 3px;
    margin-right: -1px;
}
notebook .left tab:checked {
    margin-left: 0;
    border-left: 3px solid @selected_bg_color;
    border-right: 0;
}

notebook .right tab {
    margin-right: 3px;
    margin-left: -1px;
}
notebook .right tab:checked {
    margin-right: 0;
    border-right: 3px solid @selected_bg_color;
    border-left: 0;
}
