paned separator {
    min-width: 1px;
    min-height: 1px;
    background-color: @border_color;
    background-clip: content-box;
    -gtk-icon-source: none;
}

paned:not(.vertical) > separator {
    padding: 0 8px;
    margin: 0 -8px;
}
paned.vertical > separator {
    padding: 8px 0;
    margin: -8px 0;
}
