/* default color scheme */
@define-color bg_color #f8f8f8;
@define-color fg_color #111;
@define-color base_color #e8e8e8;
@define-color text_color #333;
@define-color selected_bg_color #26c;
@define-color selected_fg_color #fff;
@define-color tooltip_fg_color @text_color;
@define-color tooltip_bg_color #fff;

@define-color border_color mix(@fg_color, @bg_color, 0.7);
@define-color input_bg_color #fff;
@define-color input_fg_color @text_color;
@define-color secondary_fg_color mix(@fg_color, @bg_color, 0.4);
@define-color focus_color @selected_bg_color;

* {
    border-color: @border_color;
    border-style: solid;

    -GtkExpander-expander-size: 11;
    -GtkTreeView-expander-size: 11;
}

*:hover, *:focus {
    -gtk-image-effect: highlight;
}

.selection,
*:selected:selected,
*:selected:focus {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}
/* !important seems to be broken, so I use this hack to push specificity */
*:insensitive:insensitive {
    color: @secondary_fg_color;
    -gtk-image-effect: dim;
}
.background {
    background: @base_color;
    color: @fg_color;
}

GtkStatusbar {
    padding: 4px;
    color: @fg_color;
}

.cell {
    background: @input_bg_color;
    color: @input_fg_color;
}

.entry {
    padding: 3px;
    border-width: 1px;
    background-color: @input_bg_color;
    color: @input_fg_color;
}

.scale:focus.slider,
GtkSwitch:focus.slider,
.notebook:focus tab:active,
.radio:focus,
.check:focus,
.entry:focus,
.button:focus {
    border-color: @focus_color;
}

@import url("widgets/button.css");
@import url("widgets/checkbox.css");
@import url("widgets/frame.css");
@import url("widgets/menu.css");
@import url("widgets/notebook.css");
@import url("widgets/pane-separator.css");
@import url("widgets/popover.css");
@import url("widgets/progress_bar.css");
@import url("widgets/scale.css");
@import url("widgets/scrollbar.css");
@import url("widgets/spinner.css");
@import url("widgets/switch.css");
@import url("widgets/tooltip.css");
