toast,
.app-notification {
    background-color: @tooltip_bg_color;
    color: @tooltip_fg_color;
    margin: 0.5em;
}

toast,
.app-notification border {
    padding: 0.2em 0.5em;
}

toast {
    border: 1px solid @border_color;
}

toast button {
    margin-left: 0.5em;
}
