.app-notification {
    background-color: @tooltip_bg_color;
    color: @tooltip_fg_color;
    padding: 0.5em;
    border: 1px solid @border_color;
}

.app-notification border {
    border-width: 0;
    padding: 0;
}
