button,
switch slider {
    border-radius: 3px;
    padding: 0.5em;
    border-width: 1px;
    background-image: linear-gradient(to bottom,
        @base_color,
        @base_color 40%,
        shade(@base_color, 0.94));
    color: @text_color;
}

button.flat {
    background: none;
    border-color: transparent;
}

button:hover,
button:focus,
switch:hover slider,
switch:focus slider {
    background-image: linear-gradient(to bottom,
        @base_color,
        @base_color 40%,
        shade(@base_color, 0.98));
    color: @text_color;
}

button.flat:hover,
button.flat:focus,
button.flat:active,
button.flat:checked {
    border-color: @border_color;
}

button:active,
button:checked {
    background-image: linear-gradient(to bottom,
        shade(@bg_color, 0.95),
        shade(@bg_color, 0.9));
    color: @fg_color;
}

button:backdrop,
button:disabled,
switch:backdrop slider,
switch:disabled slider {
    background: @bg_color;
    color: @fg_color;
}

button.circular {
    border-radius: 100em;
}

button.link {
    color: @focus_color;
}
button.link:hover,
button.link:focus {
    color: mix(@focus_color, @fg_color, 0.2);
}
button.link:active {
    color: mix(@focus_color, @fg_color, 0.5);
}
button.link > label {
    text-decoration: underline;
}

.linked > button,
.linked > entry,
.linked.horizontal > combobox button.combo,
.linked.vertical > combobox button.combo {
    border-radius: 0;
}

.linked.horizontal > button:first-child,
.linked.horizontal > entry:first-child,
.linked.horizontal > combobox:first-child button.combo {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.linked.horizontal > button:last-child,
.linked.horizontal > entry:last-child,
.linked.horizontal > combobox:last-child button.combo {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.linked.horizontal > button,
.linked.horizontal > entry {
    border-right-width: 0;
}
.linked.horizontal > :focus + button,
.linked.horizontal > :focus + entry {
    border-left: 0;
}

.linked.vertical > button:first-child,
.linked.vertical > entry:first-child,
.linked.vertical > combobox:first-child button.combo {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.linked.vertical > button:last-child,
.linked.vertical > entry:last-child,
.linked.vertical > combobox:last-child button.combo {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.linked.vertical > button,
.linked.vertical > entry {
    border-bottom-width: 0;
}
.linked.vertical > :focus + button,
.linked.vertical > :focus + entry {
    border-top: 0;
}

.linked > button:last-child,
.linked > entry:last-child,
.linked > button:focus,
.linked > entry:focus {
    border-width: 1px;
}

spinbutton {
    border-width: 1px;
}
spinbutton entry {
    border-width: 0;
}
spinbutton button {
    border-radius: 0;
}
spinbutton.horizontal button {
    border-width: 0 0 0 1px;
}
spinbutton.vertical button.up {
    border-width: 0 0 1px;
}
spinbutton.vertical button.down {
    border-width: 1px 0 0;
}
spinbutton button:focus {
    border-color: @border_color;
}

combobox button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

switch {
    border-width: 1px;
    font-weight: bold;
    border-radius: 3px;
}

switch:checked {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

switch slider {
    margin: -1px;
    padding: 0;
}
