button {
    border-radius: 3px;
    padding: 0.5em;
    border-width: 1px;
    background-image: linear-gradient(to bottom,
        @input_bg_color,
        @input_bg_color 40%,
        shade(@input_bg_color, 0.94));
    color: @input_fg_color;
}

button.flat {
    background: none;
    border-color: transparent;
}

button.flat:hover,
button.flat:focus,
button.flat:active,
button.flat:checked {
    border-color: @border_color;
}

button.circular {
    border-radius: 100em;
}

button:hover,
button:focus {
    background-image: linear-gradient(to bottom,
        @input_bg_color,
        @input_bg_color 40%,
        shade(@input_bg_color, 0.98));
}
button:active,
button:checked {
    background-image: linear-gradient(to bottom,
        shade(@base_color, 0.95),
        shade(@base_color, 0.9));
}
button:disabled {
    background: @base_color;
}

button.link label {
    color: @focus_color;
    text-decoration: underline;
}
button.link:hover label,
button.link:focus label {
    color: mix(@focus_color, @fg_color, 0.2);
}
button.link:active label {
    color: mix(@focus_color, @fg_color, 0.5);
}

.linked > button,
.linked > entry {
    border-radius: 0;
    border-width: 1px;
}

.linked.horizontal > button:first-child,
.linked.horizontal > entry:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.linked.horizontal > button:last-child,
.linked.horizontal > entry:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.linked.horizontal > button,
.linked.horizontal > entry {
    border-right-width: 0;
}
.linked.horizontal > :focus + button,
.linked.horizontal > :focus + entry {
    border-left: 0;
}

.linked.vertical > button:first-child,
.linked.vertical > entry:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.linked.vertical > button:last-child,
.linked.vertical > entry:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.linked.vertical > button,
.linked.vertical > entry {
    border-bottom-width: 0;
}
.linked.vertical > :focus + button,
.linked.vertical > :focus + entry {
    border-top: 0;
}

.linked > button:last-child,
.linked > entry:last-child,
.linked > button:focus,
.linked > entry:focus {
    border-width: 1px;
}

spinbutton {
    border-width: 1px;
}
spinbutton entry {
    border-width: 0;
}
spinbutton button {
    border-radius: 0;
}
spinbutton.horizontal button {
    border-width: 0 0 0 1px;
}
spinbutton.vertical button.up {
    border-width: 0 0 1px;
}
spinbutton.vertical button.down {
    border-width: 1px 0 0;
}
spinbutton button:focus {
    border-color: @border_color;
}

combobox button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
