calendar {
    border-width: 1px;
}

calendar.header {
    background-color: @bg_color;
}

calendar calendar {
    padding: 2px;
}

calendar.highlight {
    color: mix(@text_color, @base_color, 0.4);
}

calendar:indeterminate {
    color: mix(@text_color, @base_color, 0.6);
}
