headerbar {
    background: @bg_color;
    color: @fg_color;
    padding: 0.5em;
    border-bottom-width: 1px;
    box-shadow: 0 0 0.2em @border_color;
}

searchbar {
    border-bottom-width: 1px;
}

decoration {
    border-width: 1px;
}
