.titlebar {
    background: @bg_color_secondary;
    color: @fg_color;
    padding: 0.5em;
    border-bottom-width: 1px;
    box-shadow: 0 0 0.2em @border_color;
}

headerbar {
    /* HACK for squishy headerbars */
    min-height: 2.4em;
}

searchbar {
    border-bottom-width: 1px;
}

.dialog.csd,
.csd decoration {
    border-width: 1px;
}
