headerbar {
    background: @bg_color;
    color: @fg_color;
    padding: 0.2em;
    border-bottom-width: 1px;
    box-shadow: 0 0 0.2em @border_color;
}

headerbar:backdrop {
    background: mix(@base_color, @bg_color, 0.5);
}

searchbar {
    border-bottom-width: 1px;
}

decoration {
    border-width: 1px;
}
