list {
    background: @base_color;
    color: @text_color;
}

list.content {
    border-width: 1px;
    border-radius: 0.3em;
}

list.content row:not(:last-child),
list separator {
    border-bottom: 1px solid @border_color;
}

row {
    padding: 0.5em 1em;
}
.sidebar-icon {
    margin-right: 0.5em;
}

stacksidebar,
stacksidebar .frame {
    border-right-width: 1px;
}
