menubar,
actionbar,
toolbar,
placessidebar list {
    background: @bg_color;
    color: @fg_color;
}

toolbar,
actionbar {
    padding: 0.5em;
}

actionbar {
    border-top-width: 1px;
}

.inline-toolbar {
    border-width: 0 1px 1px;
}

menu {
    background: @base_color;
    color: @text_color;
    border-width: 1px;
    padding: 1px;
}

menuitem {
    padding: 0.2em 1em;
    min-height: 16px;  /* enough space for icon */
}

menu menuitem {
    padding: 0.2em 0.4em;
}

menuitem:hover,
menuitem:hover > *,
combobox menuitem:hover * {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

actionbar button,
toolbar button {
    padding: 0.2em;
}

menu separator {
    background-color: @border_color;
    min-width: 1px;
    min-height: 1px;
}
