menubar,
actionbar,
toolbar {
    background: @bg_color;
    color: @fg_color;
}

placessidebar list {
    background-color: @bg_color_secondary;
}

toolbar {
    padding: 1px;
}

actionbar {
    padding: 0.5em;
    border-top-width: 1px;
}

.inline-toolbar {
    padding: 0.5em;
    border-width: 0 1px 1px;
}

menu {
    background: @base_color;
    color: @text_color;
    border-width: 1px;
}

menuitem {
    padding: 0.4em 1em;
}

menu menuitem {
    padding: 0.4em;
    margin: 1px;
}

menuitem:hover,
menuitem:hover > *,
combobox menuitem:hover * {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

actionbar button,
toolbar button {
    padding: 0.2em;
}

menu separator {
    background-color: @border_color;
    margin: 0.2em;
    min-width: 1px;
    min-height: 1px;
}
