progressbar trough,
treeview .trough,
treeview .trough:selected {
    border-width: 1px;
    background-color: @input_bg_color;
    color: @input_fg_color;
}

progressbar progress,
progressbar progress:disabled,
treeview .progressbar,
treeview .progressbar:disabled {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

entry progress {
    border-bottom: 2px solid @selected_bg_color;
}
