progressbar {
    border-width: 1px;
    background: @input_bg_color;
}

/* FIXME: there is at least a second wrapper type. I don't know what it is */
progressbar progress {
    background: @selected_bg_color;
}

entry progress {
    border-bottom: 2px solid @selected_bg_color;
}
