scale {
    padding: 8px;
}

scale contents {
    border-width: 1px;
    background: @input_bg_color;
}

scale highlight {
    background: @selected_bg_color;
    min-width: 6px;
    min-height: 6px;
}

scale slider {
    border-radius: 50%;
    min-width: 14px;
    min-height: 14px;
    border: 1px solid @border_color;
    background: @input_bg_color;
    margin: -7px;
}

scale slider:disabled {
    background: shade(@input_bg_color, 0.94);
}

scale mark {
    background-color: @border_color;
    margin-top: 2px;
    min-height: 5px;
    min-width: 1px;
}
