scale:not(.vertical) {
    padding: 8px 0;
}
scale.vertical {
    padding: 0 8px;
}


scale trough {
    border-width: 1px;
    background: @base_color;
}

scale highlight {
    background: @selected_bg_color;
    min-width: 6px;
    min-height: 6px;
}

scale slider {
    border-radius: 50%;
    padding: 0;
    min-width: 12px;
    min-height: 12px;
    margin: -6px;
}

scale slider:disabled {
    background: @bg_color;
}

scale mark {
    margin-top: 2px;
    min-height: 5px;
    min-width: 1px;
}
