* {
    -GtkScrolledWindow-scrollbar-spacing: 0;
}

scrolledwindow.frame {
    border-width: 1px;
}

scrollbar {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
}

scrollbar slider {
    background-color: @border_color;
    min-width: 7px;
    min-height: 7px;
}

scrollbar slider:hover {
    background-color: mix(@border_color, @text_color, 0.2);
}

scrollbar slider:active {
    background-color: @selected_bg_color;
}

scrollbar through {
    border: 0;
}
