switch {
    border-width: 1px;
    font-weight: bold;
    border-radius: 3px;
}

switch:checked {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

switch slider {
    /* same as in button */
    background-image: linear-gradient(to bottom,
        @input_bg_color,
        @input_bg_color 40%,
        shade(@input_bg_color, 0.94));
    border-width: 1px;
    border-radius: 3px;
    margin: -1px;
}
switch:hover slider,
switch:focus slider {
    background-image: linear-gradient(to bottom,
        @input_bg_color,
        @input_bg_color 40%,
        shade(@input_bg_color, 0.98));
}

switch:disabled slider {
    background: @secondary_fg_color;
}
