GtkSwitch {
    border-width: 1px;
    font-weight: bold;
    border-radius: 3px;
}

GtkSwitch:active {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

GtkSwitch.slider {
    /* same as in button */
    background-image: linear-gradient(to bottom,
        @input_bg_color,
        @input_bg_color 40%,
        shade(@input_bg_color, 0.94));
}
GtkSwitch.slider:hover,
GtkSwitch.slider:focus {
    background-image: linear-gradient(to bottom,
        @input_bg_color,
        @input_bg_color 40%,
        shade(@input_bg_color, 0.98));
}

GtkSwitch.slider:insensitive {
    background: @secondary_color;
}
